html {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 0;
  width: 100%;
  margin: 0 auto;

  body {
    padding: 0;
    margin: 0;
  }
}