.card {
    max-width: 600;
    background: none;
    position: relative;
    z-index: 0;

    .actions {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        opacity: 1;
        z-index: 99999;
    }
}

.container {
    display: flex;
    justify-content: center;
}