@import '../../styles/layout/queries';

.root {
    width: 100%;
    height: 100%;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: scroll;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #FFFFFF;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 4px;
  z-index: -1;
}

.content {
  width: 100%;
  position: relative;

  .sectionTitle {
    font-size: 48px;
  }

  .aboutSection {
    .aboutBox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 15px;

      .aboutImageBox {
        position: relative;
        max-width: 100%;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
          border-radius: 50%;
        }

        @include mobile {
          width: 100%;
          padding-top: 100px;
        }
      }

      .aboutTeminal {
        max-width: 100%;
        width: calc(100% - 360px);
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile {
          width: 100%;
        }

        .aboutTeminalHeader {
          height: 40px;
          width: 100%;
          background-color: #474242;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

          .aboutTeminalHeaderTitle {
            font-weight: 600;
            margin-left: 15px;
            color: #e2e2e2;
          }

          .aboutTeminalHeaderButtonClose {
            width: 20px;
            height: 20px;
            font-size: 16px;
            border-radius: 50%;
            color: #000;
            background-color: #b44e28;
            margin-left: 15px;

            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          }

          .aboutTeminalHeaderButtonMinimize {
            width: 20px;
            height: 20px;
            font-size: 16px;
            border-radius: 45%;
            color: #000;
            background-color: #59514C;
            margin-left: 5px;
            position: relative;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

            &:after {
              content: '';
              position: absolute;
              top: 50%;
              left: 20%;
              width: 60%;
              height: 2px;
              background-color: #000000;
              opacity: .6;
              z-index: 2;
            }
          }

          .aboutTeminalHeaderButtonMaximize {
            width: 20px;
            height: 20px;
            font-size: 16px;
            border-radius: 50%;
            color: #000;
            background-color: #59514C;
            margin-left: 5px;
            position: relative;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

            &:after {
              content: '';
              position: absolute;
              top: 20%;
              left: 20%;
              width: 40%;
              height: 40%;
              border: #000 solid 2px;
              opacity: .6;
              z-index: 2;
            }
          }
        }

        .aboutText {
          width: 100%;
          height: 200px;
          position: relative;
          font-size: 32px;
          color: #FFFFFF;
          text-align: left;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #300B23;
            opacity: .6;
            z-index: -1;
          }

          .cursor {
            width: 30px;
            height: 5px;
            position: relative;
            margin-left: 20px;

            &:after {
              content: '';
              position: absolute;
              right: 0;
              bottom: 5px;
              width: 16px;
              height: 5px;
              background-color: #FFFFFF;
              z-index: 2;

              animation: cursor-efect 1s infinite;
            }
          }
        }
      }
    }
  }

  @mixin animation-mixin($name) {
    @-webkit-keyframes #{$name} {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    @keyframes #{$name} {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
  }

  @include animation-mixin(cursor-efect);

  .portfolioSection {
    width: 100%;

    .portfolioBox {
      width: 100%;
      background-color: #FFFFFF;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .portfolioList {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        @include mobile {
          padding: 15px;
        }

        @include tablet {
          padding: 15px;
        }
      }
    }
  }
}